@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-gradient {
    background-size: 300%;
    -webkit-animation: animatedgradient 6s ease infinite alternate;
    -moz-animation: animatedgradient 6s ease infinite alternate;
    animation: animatedgradient 6s ease infinite alternate;
  }
  
  @keyframes animatedgradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }








  #scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #4A00FF;
    color: #fff;
    border: none;
    border-radius:100%;
    padding: 10px 10px;
    font-weight: 600;
    cursor: pointer;
  }
  
  #scrollToTopBtn:hover {
    background-color: #FF00D3;
  }
  